<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lvshop.datasource.mapper.ShopInfoMapper">
 	
  	<update id="updateShopInfo" parameterType="com.lvshop.common.pojo.ShopInfo">
		update shop_info set inventory_cnt=#{inventoryCnt} where id=#{shopInfo.id}
  	</update>
  	 
  	<select id="findShopInfoById" resultType="com.lvshop.common.pojo.ShopInfo">
  		select * from shop_info where id = #{shopId}
  	</select>


<!--	void saveShopInfo(ShopInfo shopInfo);-->
<!--	void deleteShopInfoById(Long shopId);-->
<!--	void updateShopInfo(ShopInfo shopInfo);-->

<!--	ShopInfo findShopInfoById(Long shopId);-->


</mapper>